.popup-window {
    width: 400px;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
    margin-top: 15%;
    border: 1px solid black;
    border-radius: 4px;
}

.popup-window h2 {
    text-align: center;
}

.popup-form {
    display: flex;
    flex-direction: column;
}

.popup-form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.popup-submit-button {
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.popup-submit-button:hover {
    background-color: #45a049;
}

.popup-cancel-button {
    margin-left: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}