.widget-container {
    width: 100%;
    max-width: 100%;
    max-height: 80vh; /* 80% of viewport height */
    margin: 0 auto;
    overflow: auto;
}

.main-widget-container {
    width: 90%;
    height: 90vh;
    margin: 5vh auto;
}

.widget-button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.widget-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.widget-button:hover {
    background-color: #45a049;
}

.dropdown-container, .grid-container, .list-container {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.new-entry-row {
  background-color: #b3d9ff !important; /* light blue */
}

.flex-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.flex-container > div {
    flex: 1;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
}
