<html>
<head>
    <title>Study Form</title>
    <link rel="stylesheet" href="/assets/css/third_party/jqx.base.css">
    <link rel="stylesheet" href="/assets/css/third_party/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/widget.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/popup.css">
    <script src="/assets/js/third_party/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/third_party/jquery-ui.min.js"></script>
    <script src="/assets/js/third_party/jqx-all.js"></script>
</head>