<div class="main-widget-container flex-container">
    <div id="studyDiv">
        <h2>Study</h2>
        <input type="button" value="Add new" id="addBtnStudy" class="widget-button" />
        <input type="button" value="Update Study" id="updateBtnStudy" class="widget-button"/>
        <input type="button" value="Delete" id="deleteBtnStudy" class="widget-button"/>
        <input type="button" value="Export to Excel" id="exportToExcelStudyBtn" class="widget-button"/>
        <div id="jqxListBoxStudy" , class="list-container"></div>
    </div>
    <div id="expDiv">
        <h2>Experiment</h2>
        <input type="button" value="Add Experiment" id="addExpBtn" class="widget-button" />
        <input type="button" value="Update Experiment" id="updateExpBtn" class="widget-button"/>
        <input type="button" value="Delete Experiment" id="deleteExpBtn" class="widget-button"/>
        <input type="button" value="Export to Excel" id="exportToExcelExpBtn" class="widget-button"/>
        <div id="jqxListBoxExp" , class="list-container"></div>
    </div>
    <div id="runDiv">
        <h2>Run</h2>
        <input type="button" value="Add Run" id="addRunBtn" class="widget-button" />
        <input type="button" value="Update Run" id="updateRunBtn" class="widget-button"/>
        <input type="button" value="Delete Run" id="deleteRunBtn" class="widget-button"/>
        <div id="jqxListBoxRun" , class="list-container"></div>
    </div>
</div>

<div id="runsDialog" title="Select Runs to Export">
    <div id="jqxListBoxRunDialog"></div>
</div>
<div id="expsDialog" title="Select Experiments to Export">
    <div id="jqxListBoxExpDialog"></div>
</div>
<div id="studyDialog" title="Enter Study Details">
    <p>Title:</p>
    <input type="text" id="studyTitleInput">
    <p>Ethical Project:</p>
    <input type="text" id="studyEthProjInput">
    <p>Tick@lab batch</p>
    <input type="text" id="studyTickatInput">
</div>

<script>

let sourceStudy = {
    localdata: [],
    datatype: "json"
};

let sourceExp = {
    localdata: [],
    datatype: "json"
};

let sourceRun = {
    localdata: [],
    datatype: "json"
};

let dataAdapterStudy = new $.jqx.dataAdapter(sourceStudy);
let dataAdapterExp = new $.jqx.dataAdapter(sourceExp);
let dataAdapterRun = new $.jqx.dataAdapter(sourceRun);


let studyChangeEvent = function(detail) { return new CustomEvent("studyChange", {detail} ); }
let expChangeEvent = function(detail) { return new CustomEvent("expChange", {detail} ); }
let runChangeEvent = function(detail) { return new CustomEvent("runChange", {detail} ); }

let refreshStudy = function () {
    return new Promise((resolve, reject) => {
        $.ajax({
            url: "/study_data",
            type: "GET",
            success: function (data) {
                sourceStudy.localdata = data;
                $("#jqxListBoxStudy").jqxListBox('refresh');
                studyChangeEvent();
                resolve();
            },
            error: function(error)
            {
                reject(error);
            }
        });
    });
};

let refreshExp = function (study_id) {
    return new Promise((resolve, reject) => {
        $.ajax({
            url: "/study/" + study_id + "/experiment_data",
            type: "GET",
            success: function (data) {
                sourceExp.localdata = data;
                $("#jqxListBoxExp").jqxListBox('refresh');
                $("#jqxListBoxExpDialog").jqxListBox('refresh');
                expChangeEvent(study_id);
                resolve();
            },
            error: function(error)
            {
                reject(error);
            }
        });
    });
};

let refreshRun = function (study_id, exp_id) {
    return new Promise((resolve, reject) => {
        $.ajax({
            url: "/study/" + study_id + "/experiment/" + exp_id + "/run_data",
            type: "GET",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    let originalDate = new Date(data[i].date_acclim);
                    let formattedDate = originalDate.getDate() + "/" + (originalDate.getMonth() + 1) + "/" + originalDate.getFullYear();
                    data[i].date_acclim = formattedDate;
                }
                sourceRun.localdata = data;
                $("#jqxListBoxRun").jqxListBox('refresh');
                $("#jqxListBoxRunDialog").jqxListBox('refresh');
                expChangeEvent(study_id, exp_id);
                resolve();
            },
            error: function(error)
            {
                reject(error);
            }
        });
    });
};

$(document).ready(function () {
    $("#jqxListBoxStudy").jqxListBox({
        source: dataAdapterStudy,
        valueMember: "id",
        displayMember: "title",
        width: '100%',
        height: '100%'
    });

    $("#jqxListBoxExp").jqxListBox({
        source: dataAdapterExp,
        valueMember: "id",
        displayMember: "title",
        width: '100%',
        height: '100%'
    });

    $("#jqxListBoxRun").jqxListBox({
        source: dataAdapterRun,
        valueMember: "id",
        displayMember: "date_acclim",
        width: '100%',
        height: '100%'
    });

    $("#jqxListBoxRunDialog").jqxListBox({
        source: dataAdapterRun,
        displayMember: 'date_acclim',
        valueMember: 'id',
        checkboxes: true,
        width: '200px',
        height: '200px'
    });
    
    $("#jqxListBoxExpDialog").jqxListBox({
        source: dataAdapterExp,
        displayMember: 'title',
        valueMember: 'id',
        checkboxes: true,
        width: '200px',
        height: '200px'
    });


    // Create the runs dialog
    $("#runsDialog").dialog({
        width: 250,
        height: 250,
        resizable: false,
        modal: true,
        autoOpen: false,
        title: "Select Runs to Export",
        open: function() {
            $("#jqxListBoxRunDialog").jqxListBox('checkAll'); // Check all runs when dialog opens
        },
        buttons: {
            "Export": function() {
                // Retrieve the selected run IDs
                const selectedRuns = $("#jqxListBoxRunDialog").jqxListBox('getCheckedItems').map(item => item.value);

                // Trigger the Excel export for the selected runs
                exportRunsToExcel(selectedRuns);

                // Close the dialog
                $(this).dialog('close');
            },
            "Cancel": function() {
                $(this).dialog('close');
            }
        }
    });

    // Create the exp dialog
    $("#expsDialog").dialog({
        width: 250,
        height: 250,
        resizable: false,
        modal: true,
        autoOpen: false,
        title: "Select Experiments to Export",
        open: function() {
            $("#jqxListBoxExpDialog").jqxListBox('checkAll'); // Check all runs when dialog opens
        },
        buttons: {
            "Export": function() {
                // Retrieve the selected run IDs
                const selectedExps = $("#jqxListBoxExpDialog").jqxListBox('getCheckedItems').map(item => item.value);

                // Trigger the Excel export for the selected runs
                exportExpsToExcel(selectedExps);

                // Close the dialog
                $(this).dialog('close');
            },
            "Cancel": function() {
                $(this).dialog('close');
            }
        }
    });

    $("#exportToExcelExpBtn").on('click', function () {
        // Open the runs dialog
        $("#runsDialog").dialog('open');
    });

    $("#exportToExcelStudyBtn").on('click', function () {
        // Open the runs dialog
        $("#expsDialog").dialog('open');
    });

    // Function to handle the Excel export
    function exportToExcel(url, body, default_filename, ) {
        fetch(url, {
            method: "POST",
            body: body,
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("An error occurred while exporting to Excel");
                }

                // Extract filename from the response headers if available
                const contentDisposition = response.headers.get("Content-Disposition");
                const filename = contentDisposition ? contentDisposition.split('filename=')[1] : default_filename;

                return response.blob().then(blob => {
                    // Create a link element to download the Blob
                    const link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = filename;
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                });
            })
            .catch(error => {
                console.error(error);
            });
    }

    function exportRunsToExcel(runIds) {
        const exp_id = $('#jqxListBoxExp').jqxListBox('getSelectedItem').value;
        const url = "/experiment/" + exp_id + "/export_runs_to_excel";
        const body = JSON.stringify({ runIds });
        exportToExcel(url, body, "runs.xlsx")
    }

    function exportExpsToExcel(expIds) {
        const study_id = $('#jqxListBoxStudy').jqxListBox('getSelectedItem').value;
        const url = "/study/" + study_id + "/export_runs_to_excel";
        const body = JSON.stringify({ expIds });
        exportToExcel(url, body, "exps.xlsx")
    }

    $("#exportToExcelExpBtn").on('click', function () {
        // Open the runs dialog
        $("#runsDialog").jqxWindow('open');
    });

    $('#updateBtnStudy, #deleteBtnStudy').attr('disabled', 'disabled');

    let studyUpdateEvent = function(detail) { return new CustomEvent('studyUpdate', {detail} ); }
    let studyCreateEvent = function(detail) { return new CustomEvent('studyCreate', {detail} ); }
    let studyDeleteEvent = function(detail) { return new CustomEvent('studyDelete', {detail} ); }

    let expUpdateEvent = function(detail) { return new CustomEvent('expUpdate', {detail} ); }
    let expCreateEvent = function(detail) { return new CustomEvent('expCreate', {detail} ); }
    let expDeleteEvent = function(detail) { return new CustomEvent('expDelete', {detail} ); }

    let runUpdateEvent = function(detail) { return new CustomEvent('runUpdate', {detail} ); }
    let runCreateEvent = function(detail) { return new CustomEvent('runCreate', {detail} ); }
    let runDeleteEvent = function(detail) { return new CustomEvent('runDelete', {detail} ); }
    
    let populate = <%- populate %>;
    
    if (typeof populate !== 'undefined' && populate) {
        refreshStudy()
            .then(() => {
                // Additional logic after the widget is initialized.
            })
            .catch((error) => {
                console.error(error);
            });
    }
    
    let hideRun =  function () {
        $('#runDiv').hide();
    }
    
    let showRun =  function () {
        $('#runDiv').show();
    }

    let hideExp =  function () {
        hideRun();
        $('#expDiv').hide();
    }
    
    let showExp =  function () {
        $('#expDiv').show();
    }


    let enableButtonsStudy = function() {
        $('#updateBtnStudy, #deleteBtnStudy, #exportToExcelStudyBtn').removeAttr('disabled');
    }
    
    let disableButtonsStudy = function() {
        $('#updateBtnStudy, #deleteBtnStudy, #exportToExcelStudyBtn').attr('disabled', 'disabled');
    }

    let enableButtonsExp = function() {
        $('#updateExpBtn, #deleteExpBtn, #exportToExcelExpBtn').removeAttr('disabled');
    }
    
    let disableButtonsExp = function() {
        $('#updateExpBtn, #deleteExpBtn, #exportToExcelExpBtn').attr('disabled', 'disabled');
    }

    let enableButtonsRun = function() {
        $('#updateRunBtn, #deleteRunBtn').removeAttr('disabled');
    }
    
    let disableButtonsRun = function() {
        $('#updateRunBtn, #deleteRunBtn').attr('disabled', 'disabled');
    }

    hideExp();
    disableButtonsStudy();
    disableButtonsExp();
    disableButtonsRun();

    $('#jqxListBoxStudy').on('select', function (event) {
        if (event.args) {
            let studyId = event.args.item.value;
            refreshExp(studyId).then(() => {}).catch((error) => { console.error(error) });
            enableButtonsStudy();
            $('#jqxListBoxExp').jqxListBox('clearSelection');
            disableButtonsExp();
            showExp();
            hideRun();
        }
        else {
            hideExp();
            disableButtonsStudy();
        }
    });

    $('#jqxListBoxExp').on('select', function (event) {
        if (event.args) {
            enableButtonsExp();
            const item = $('#jqxListBoxExp').jqxListBox('getItem', event.args.index).originalItem;
            refreshRun(item.study_id, item.id);
            $('#jqxListBoxRun').jqxListBox('clearSelection');
            disableButtonsRun();
            showRun();
        } else {
            hideRun();
            disableButtonsExp();
        }
    });

    $('#jqxListBoxRun').on('select', function (event) {
        if (event.args) {
            enableButtonsRun();
        } else {
            disableButtonsRun();
        }
    });
    
    window.addEventListener('studyCreate', function(e){
        refreshStudy().then(() => {
            $('#jqxListBoxStudy').jqxListBox('selectItem', e.detail.id);
        }).catch(error => console.error(error));
    });

    window.addEventListener('studyUpdate', function(e){
        refreshStudy().catch(error => console.error(error));
    });

    window.addEventListener('expCreate', function(e){
        refreshExp(e.detail.study_id).then( () => {
                $('#jqxListBoxExp').jqxListBox('selectItem', e.detail.id);
            }).catch(error => console.error(error));
    });
    
    window.addEventListener('storage', function(e){
        console.log("Storage changed : ", e.key);
        if (e.key === "expUpdate")
        {
            console.log("refreshing");
            let study_id = $("#jqxListBoxStudy").jqxListBox("getSelectedItem").value;
            refreshExp(study_id).catch(error => console.error(error));
        }
    });

    $('#addBtnStudy').click(function () {
        $("#studyTitleInput").val('');
        $("#studyEthProjInput").val('');
        $("#studyTickatInput").val('');

        $("#studyDialog").dialog({
            buttons: {
                "Save Study": function() {
                let title = $("#studyTitleInput").val().trim();
                let eth_proj = $("#studyEthProjInput").val().trim();
                let tickat = $("#studyTickatInput").val().trim();
                if (title != null && title != "") {
                    $.ajax({
                        url: "/study",
                        type: "POST",
                        data: { title , eth_proj, tickat},
                        success: function (data) {
                            console.log(data);
                            window.dispatchEvent(studyCreateEvent({ id : data.id }));
                        },
                        error: function(jqXHR)
                        {
                            let json = JSON.parse(jqXHR.responseText);
                            alert(json.error);
                        }
                    });
                    $(this).dialog("close");
                }
                else
                {
                    if (title === "")
                        alert("The study title can't be empty");
                }
                },
                "Cancel": function() {
                    $(this).dialog("close");
                }
            },
        });
    });

    $('#updateBtnStudy').click(function () {
        let selectedStudy = $('#jqxListBoxStudy').jqxListBox('getSelectedItem');
        if (!selectedStudy)
            alert("Please select a study to update");
        selectedStudy = selectedStudy.originalItem;

        $("#studyTitleInput").val(selectedStudy.title);
        $("#studyEthProjInput").val(selectedStudy.eth_proj);
        $("#studyTickatInput").val(selectedStudy.tickat);

        $("#studyDialog").dialog({
            buttons: {
                "Save Study": function() {
                let newTitle = $("#studyTitleInput").val().trim();
                let newEthProj = $("#studyEthProjInput").val().trim();
                let newTickat = $("#studyTickatInput").val().trim();
                if (newTitle != null && newTitle != "") {
                    $.ajax({
                        url: "/study/" + selectedStudy.id,
                        type: "PUT",
                        data: { newTitle , newEthProj, newTickat},
                        success: function (data) {
                            console.log(data);
                            window.dispatchEvent(studyUpdateEvent({ id : data.id }));
                        },
                        error: function(jqXHR)
                        {
                            let json = JSON.parse(jqXHR.responseText);
                            alert(json.error);
                        }
                    });
                    $(this).dialog("close");
                }
                else
                {
                    if (newTitle === "")
                        alert("The study title can't be empty");
                }
                },
                "Cancel": function() {
                    $(this).dialog("close");
                }
            },
        });
    });

    $('#deleteBtnStudy').click(function () {
        let selectedStudy = $('#jqxListBoxStudy').jqxListBox('getSelectedItem');
        if (!selectedStudy)
        {
            alert('Please select a Study to delete');
            return;
        }
        if (!confirm("Delete this study and its related material ?"))
            return;
        let study_id = selectedStudy.value;
        $.ajax({
            url: '/study/' + study_id,
            type: 'DELETE',
            success: function () {
                $('#jqxListBoxStudy').jqxListBox('removeItem', selectedStudy);
                window.dispatchEvent(studyDeleteEvent({id : study_id }));
            },
            error: function (jqXHR) {
                let json = JSON.parse(jqXHR.responseText);
                let errorMessage = json.error;
                alert(errorMessage);
            }
        });
    });

    $('#addExpBtn').click(function () {
        let study_id = $('#jqxListBoxStudy').jqxListBox('getSelectedItem').value;
        let title = prompt("Please enter the title for the new experiment:");
        if (title != null && title != "") {
            $.ajax({
                url: "/study/" + study_id + "/experiment",
                type: "POST",
                data: { title },
                success: function (data) {
                    window.dispatchEvent(expCreateEvent({ id: data.id, study_id : study_id }));
                    window.open('/study/' + study_id + '/experiment/' + data.id, 'Update Exp form' + data.id, 'width=750,height=750');
                },
                error: function(jqXHR)
                {
                    let json = JSON.parse(jqXHR.responseText);
                    alert(json.error);
                }
            });
        }
        else
        {
            if (title === "")
                alert("The experiment title can't be empty");
        }
    });

    $('#updateExpBtn').click(function () {
        let study_id = $('#jqxListBoxStudy').jqxListBox('getSelectedItem').value;
        let exp_id = $('#jqxListBoxExp').jqxListBox('getSelectedItem').value;
        window.open('/study/' + study_id + '/experiment/' + exp_id, 'Update Exp form' + exp_id, 'width=750,height=750');
    });

    $('#deleteExpBtn').click(function () {
        let study_id = $('#jqxListBoxStudy').jqxListBox('getSelectedItem').value;
        let selectedExp = $('#jqxListBoxExp').jqxListBox('getSelectedItem');
        if (!selectedExp)
        {
            alert('Please select an experiment to delete.');
            return;
        }
        if(!confirm(`Delete the selected experiment and its associated data ?`))
            return;
        
        const exp_id = selectedExp.value;
        $.ajax({
            url: "/study/" + study_id + "/experiment/" + exp_id,
            type: 'DELETE',
            success: function() {
                $('#jqxListBoxExp').jqxListBox('removeItem', selectedExp);
                window.dispatchEvent(expDeleteEvent({id : exp_id }));
            },
            error: function (jqXHR) {
                let json = JSON.parse(jqXHR.responseText);
                let errorMessage = json.error;
                alert(errorMessage);
            }
        });
    });

    $('#addRunBtn').click(function () {

        let study_id = $('#jqxListBoxStudy').jqxListBox('getSelectedItem').value;
        let exp_id = $('#jqxListBoxExp').jqxListBox('getSelectedItem').value;
        window.location.href = "/study/" + study_id + "/experiment/" + exp_id + "/run";
    });
    
    $('#updateRunBtn').click(function () {
        let study_id = $('#jqxListBoxStudy').jqxListBox('getSelectedItem').value;
        let exp_id = $('#jqxListBoxExp').jqxListBox('getSelectedItem').value;
        let run_id = $('#jqxListBoxRun').jqxListBox('getSelectedItem').value;
        window.location.href = "/study/" + study_id + "/experiment/" + exp_id + "/run/" + run_id;
    });

    $('#deleteRunBtn').click(function () {
        let study_id = $('#jqxListBoxStudy').jqxListBox('getSelectedItem').value;
        let exp_id = $('#jqxListBoxExp').jqxListBox('getSelectedItem').value;
        let selectedRun = $('#jqxListBoxRun').jqxListBox('getSelectedItem');
        if (!selectedRun)
        {
            alert('Please select a run to delete.');
            return;
        }
        
        if(!confirm(`Delete the selected run and its associated data ?`))
            return;
        
        const run_id = selectedRun.value;
        console.log("/study/" + study_id + "/experiment/" + exp_id + '/run/' + run_id);
        $.ajax({
            url: "/study/" + study_id + "/experiment/" + exp_id + '/run/' + run_id,
            type: 'DELETE',
            success: function() {
                $('#jqxListBoxRun').jqxListBox('removeItem', selectedRun);
                window.dispatchEvent(runDeleteEvent({id : run_id }));
            },
            error: function (jqXHR) {
                let json = JSON.parse(jqXHR.responseText);
                let errorMessage = json.error;
                alert(errorMessage);
            }
        });
    });

});
</script>
