<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://jqwidgets.com/public/jqwidgets/styles/jqx.base.css">
  <link rel="stylesheet" href="https://jqwidgets.com/public/jqwidgets/styles/jqx.metro.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/popup.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://jqwidgets.com/public/jqwidgets/jqx-all.js"></script>
</head>
<body>
<div class="popup-window">
  <h2 id="formTitle"></h2>

  <form id="groupForm" class="popup-form">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description"><br>
    <input type="submit" value="Save" class="popup-submit-button">
    <input type="button" value="Cancel" id="cancelBtn" class="popup-cancel-button">
  </form>

  <script>
    $(document).ready(function () {
      
      let dispatchChange = function() {
        localStorage.setItem('groupChange', Date.now());
      };

      let group = <%- JSON.stringify(group) %>;
      if (group) {
        console.log("Update group form")
        // fetch the group data from server if this is an update
        $('#title').val(group.title);
        $('#description').val(group.description);
        $('#formTitle').text('Update Group');
      } else {
        console.log("New group form")
        $('#formTitle').text('Create New Group');
      }

      $('#groupForm').on('submit', function (e) {
        e.preventDefault();
        let url = '/groups';
        let type = 'POST';
        if (group) {
          url += '/' + group.id;
          type = 'PUT';
        }

        $.ajax({
          url: url,
          type: type,
          data: $(this).serialize(),
          success: function () {
            dispatchChange(); // dispatch event for possible parent to refresh
            window.close(); // close this popup window
          }
        });
      });

      $('#cancelBtn').click(function () {
        window.close();
      });
    });
  </script>
</div>
</body>
</html>