<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://jqwidgets.com/public/jqwidgets/styles/jqx.base.css">
  <link rel="stylesheet" href="https://jqwidgets.com/public/jqwidgets/styles/jqx.metro.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/popup.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://jqwidgets.com/public/jqwidgets/jqx-all.js"></script>
</head>
<body>
<div class="popup-window">
  <h2 id="formTitle"></h2>

  <form id="projectForm" class="popup-form">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>
    <input type="submit" value="Save" class="popup-submit-button">
    <input type="button" value="Cancel" id="cancelBtn" class="popup-cancel-button">
  </form>

  <script>
    $(document).ready(function () {
      
      let dispatchChange = function() {
        localStorage.setItem('projectChange', Date.now());
      };

      let project = <%- JSON.stringify(project) %>;
      if (project) {
        console.log("Update project form")
        // fetch the project data from server if this is an update
        $('#title').val(project.title);
        $('#formTitle').text('Update Project');
      } else {
        console.log("New project form")
        $('#title').val(<%- JSON.stringify(title) %>);
        $('#formTitle').text('Create New Project');
      }

      $('#projectForm').on('submit', function (e) {
        e.preventDefault();
        let url = '/projects';
        let type = 'POST';
        if (project) {
          url += '/' + project.id;
          type = 'PUT';
        }

        $.ajax({
          url: url,
          type: type,
          data: $(this).serialize(),
          success: function () {
            dispatchChange(); // dispatch event for possible parent to refresh
            window.close(); // close this popup window
          }
        });
      });

      $('#cancelBtn').click(function () {
        window.close();
      });
    });
  </script>
</div>
</body>
</html>
